{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="login-box">
      <h1>Member Login</h1>
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="아이디" required><br>
        <input type="password" name="password" placeholder="비밀번호" required><br>
        <label for="remember-me">
          <input type="checkbox" name="remember-me" id="remember-me">
          아이디 저장
        </label><p>
        <button type="submit" class="button">로그인</button><p></p>
      </form>
        <a href="/register">회원가입하기</a><br>
        <a href="/password-find">아이디/비밀번호를 잊어버리셨나요?</a><br>
    </div>
</div>

{% endblock %}