{% extends "layout.html" %}

{% block body %}
            <h1>Find Password</h1>
            <form action="find_password.php" method="post">
                <div class="form-group">
                    <label for="email">이메일</label><br>
                    <input type="email" id="email" name="email" placeholder="이메일 주소를 입력하세요." class="form-control" required>
                </div><p></p>
                <div class="form-group"></div>
                    <button type="submit">아이디 확인</button>
                </div>
            </form>
{% endblock %}
