{% extends "layout.html" %}

{% block body %}
            <h1>Reset Password</h1>
            <!--비밀번호 찾고 싶은 아이디 출력하기-->
            {{user_id}}</div>
            <form action="/password-reset" method="post">
                <div class="form-group">
                    <label for="pwd_check">새로운 비밀번호</label><br>
                    <input type="password" id="pwd_check" name="pwd_check" placeholder="새로운 비밀번호 입력해주세요" class="form-control" required>
                </div><p></p>
                <div class="form-group">
                    <label for="pwd_recheck">새로운 비밀번호 재입력</label><br>
                    <input type="password" id="pwd_recheck" name="pwd_recheck" placeholder="새로운 비밀번호 재입력해주세요" class="form-control" required>
                </div><p></p>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">완료</button>
                </div>
            </form>
{% endblock %}
