{% extends "layout.html" %}

{% block body %}
            <h1>Find Password</h1>
            <form action="find_password.php" method="post">
                <div class="form-group">
                    <!--회원가입 시 비밀번호 찾는 질문-->                    
                    <label for="question">{{question}}</label><br>
                    <input type="question" id="question" name="question" class="form-control" placeholder="답변을 입력하세요" required>
                </div><p></p>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">비밀번호 수정하기</button>
                </div>
            </form>
{% endblock %}
