{% extends "layout.html" %}

{% block body %}
            <h1>Find Password</h1>
            <form action="/password-find" method="post">
                <div class="form-group">
                    <!--회원가입 시 비밀번호 찾는 질문-->                    
                    <label for="answer">{{question}}</label><br>
                    <input type="answer" id="answer" name="answer" class="form-control" placeholder="답변을 입력하세요" required>
                </div><p></p>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">제출</button>
                </div>
            </form>
{% endblock %}