{% extends "layout.html" %}

{% block body %}
            {{term}}으로 찾은 결과 {{number}}개
            <table>
                <tbody>
                  <tr>
                    {% for diary in diary_list %}
                    <td><form action="/search"><button name="diary_id" type="submit" value="{{diary_id}}">{{diary["title"]}}</button></form></td>
                    {% if diary["cont"] | length > 20 %}
                    <td>{{diary["cont"][:20] + "..."}}</td>
                    {% else %}
                    <td>{{diary["cont"]}}</td>
                    {% endif %}
                    <td>{{diary["date"]}}</td>
                    {% endfor %}
                  </tr>
                </tbody>
              </table>
{% endblock %}
