{% extends "layout.html" %}

{% block body %}
            <h1>Find Password</h1>
            <form action="find_password.php" method="post">
                <div class="form-group">
                    <label for="username">개인확인 질문</label><br>
                    <input type="text" id="username" name="username" placeholder="아이디" class="form-control" required>
                </div><p></p>
                <div class="form-group">
                    <!--회원가입 시 비밀번호 찾는 질문-->                    
                    <label for="email">{{question}}</label><br>
                    <input type="email" id="email" name="email" class="form-control" required>
                </div><p></p>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">비밀번호 수정하기</button>
                </div>
            </form>
{% endblock %}
